:root {
  --imgbase: 110;
  --imgheight: calc(var(--imgbase) * 1px);
  --imgwidth: calc(var(--imgbase) * 324 / 151 * 1px);
}
#inner-section>div,
#inner-section>section {
  width:100%;
}

.el-divider {
  margin: 10px 0;
}
/*
 ***********************游戏卡片显示区域************************
*/
#games-all-button {
  font-weight: 700;
}
#category {
  display: grid;
/*   
 * 图片尺寸为宽*高，但el-card还有1px的border，需要宽+2px
*/
  grid-template-columns: repeat(auto-fill, calc(var(--imgwidth) + 2px));
  grid-gap: 20px 30px;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0;
}
#category .el-card__body {
  padding: 0;
}
#category>.card {
  border-radius: 5px;
  box-shadow: 5px 3px 10px 2px rgba(0,0,0,.1);
}
#category>.card:hover {
  border: 1px solid dodgerblue;
  box-shadow: 3px 2px 6px 0px rgba(30,144,255,.5);  
}
.pic {
  height: var(--imgheight);
}
.pic img {
  width: var(--imgwidth);
  height: var(--imgheight);
}
.game-info {
  padding: 2px 0;
  width: var(--imgwidth);
}
.game-name-sort,
.game-version-date {
  width: calc(var(--imgwidth) * 0.95);
  height: 1.2rem;
  line-height: 1.2rem;
  margin: 0 auto;
  overflow: hidden;
}
.game-name,
.game-version,
.game-sort,
.game-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.game-name,
.game-version {
  width: calc(var(--imgwidth) * 0.95 - 80px);
}
.game-version,
.game-sort,
.game-date {
  font-size: .8rem;
}
.game-sort,
.game-date {
  width: 80px;
  text-align: right;
  font-size: .8rem;
}
.game-sort>button {
  padding: 0;
}
.game-date {
  color: darkgrey;
}
#pagi {
  text-align: center;
}