.breadcrumb {
  border-bottom: 2px dashed #409eff;
}
.el-page-header__title,
.el-page-header__content,
.el-page-header__left>.el-icon-back {
  font-size: 1.2rem;
  font-weight: 700;
  color: #409eff;
}
.el-page-header__left::after {
  width: 3px;
  height: 1.2rem;
  background-color: #409eff;
}
#post section {
  margin-top: .5rem;
}
/*
 * 文章主区域
*/
#post-main {
  border-right: solid 1px #e6e6e6;
  height: 100vh;
}
#post-title {
  font-size: 2rem;
  font-weight: 700;
}
.el-carousel__item {
  text-align: center;
}
#post-intro p {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

/* 下载 */
.download-head {
  border-bottom: 1.5px solid gray;
  font-size: 1.2rem;
  font-weight: 700;
  height: 2rem;
  line-height: 2rem;
}
.download-main .el-table__header-wrapper th,
.download-main .el-table__body-wrapper td {
 padding: 5px 0;
}
.download-main .el-table__body-wrapper .cell {
  line-height: 1.3rem;
} 
table .cell {
  text-align: center;
}

/* 评论 */
.comment-card {
  margin-bottom: .35rem;;
}
.comment-left {
  text-align: center;
}
.comment-author-name {
  font-size: .8rem;
  overflow: hidden;
  height: 1rem;
  line-height: 1rem;
}
.comment-author-avatar-img img {
  border: solid 1px gray;
  border-radius: 100%;
  width: 80%;
  height: 80%;
}
.comment-main-info {
  text-align: right;
}
.comment-main-info-main>span>button {
  padding: 0 0.5rem 0 1rem;
}

/*  
 * 侧边栏
*/
#post-edit {
  position: relative;
  min-height: 2rem;
}
#post-edit button {
  float: left;
}
#post-thumb-div {
  width: 100%;
  height: 0;
  padding-bottom: 46.6%;
  position: relative;
}
#post-thumb-div img {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
#post-edit button {
  padding: 6px 8px;
}
#post-buy {
  text-align: center;
  margin: 0 -5px;
}
.post-buy-div {
  width: 100%;
  background-color: black;
  margin: 7.5px 0;
  height: 2rem;
  line-height: 2rem;
}
.post-buy-div>a {
  color: #B8860B;
  font-size: 1.2rem;
}
.el-divider__text {
  padding: 0 5px;
}
.tag-content>a {
  color: #409EFF;
  text-decoration: underline;
}
.tag-content>a+a {
  margin-left: .5rem;
}
#timeline .el-timeline-item__node {
  top: 2px;
}
#timeline>.el-timeline>.el-timeline-item {
  padding-bottom: 30px;
}
#timeline>.el-timeline>li:last-child {
  padding-bottom: unset;
}
#timeline .el-timeline-item__tail {
  top: 4px;
}
#timeline .el-timeline-item__icon {
  font-size: 14px;
}
#timeline .el-timeline-item__timestamp {
  margin-top: 2px;
}